.betting{
  z-index: 2;
  position: absolute;
  top: 460px;
  left: 100px;
  margin-right: 2px;
  button{
    color:#545454;
    background-color: #eeeeee;
    border-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    outline: none;
    min-width: 130px;
    height: 30px;
    font-weight: bold;
    font-size: 12pt;
    padding: 5px 10px 10px;
  }
  #dt{
    width: 160px;
  }
  #sum2{
    width: 190px;
  }
  #sum3{
    width: 220px;
  }
  .active{
    color:white;
    background-color: #db2222;
    border-color: #db2222;
  }
}