.top-panel{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: left;
  .icon{
    margin-left: 10px;
    width: 38px;
    height: 36px;
    outline: none;
    cursor: pointer;
  }
}