.user-info {
  width: 300px;
  right: 0;
  position: absolute;
  color: #fff;
  font-size: 14pt;
  text-align: right;
  display: flex;
  top:18px;
  outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  .userName{
    position: absolute;
    right: 220px;
  }
  .userItem{
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 20px;
    width: 180px;
    height: 37px;
    margin-top: -7px;
    padding-right: 10px;
    padding-top: 7px;
    .bonus{
      opacity: 0;
      height: 25px;
      cursor: auto;
      background-color: #9B0D0D;
      color: gold;
      top: 45px;
      width: 135px;
      border: 1px solid #8E0B0B;
      border-radius: 8px;
      position: absolute;
      right: 0;
      padding-right: 20px;
      .tooltiptext::after {
        content: " ";
        position: absolute;
        margin-top: -15px;
        margin-left: 27.5px;
        border-width: 8px;
        right: 10px;
        border-style: solid;
        border-color: transparent transparent #9B0D0D transparent;
      }
    }
    .bonus.active{
      opacity: 1;
    }
    .bonus:before {
      opacity: 1;
    }
  }
}